<mat-tab-group [backgroundColor]="'accent'" #tabGroup="matTabGroup" (scroll)="C.log()" (contextmenu)="lotsOfTabs.push('work N'); $event.preventDefault()" class="mat-elevation-z4">
    <mat-tab label="First" (scroll)="C.log()">
        <ng-template mat-tab-label>First</ng-template>
        <div class="container p-2 mt-4 c-box">
            <div class="row">
                <div class="col">
                    <h2>Async Hero Message and AsyncPipe</h2>
                    <p>Message: {{ message$ | async }}</p>
                    <button mat-button type="button" (click)="resend()">Replay</button>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab *ngFor="let tab of lotsOfTabs; let i = index" (scroll)="C.log()">
        <ng-template mat-tab-label>
            <mat-icon class="pl-1">apps</mat-icon>&nbsp;
            <span [routerLink]="['/tabs']" [state]="{comp: lgcomp, id:1}">{{ tab }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <button mat-button class="tab_close_btn p-0 pr-1" (click)="lotsOfTabs.splice(i, 1)">
                <mat-icon>close</mat-icon>
            </button>
        </ng-template>
        <div class="container p-2 mt-4 c-box">
            <div class="row">
                <div class="col">
                    Content {{ tab }}
                    <ng-container *ngComponentOutlet="currentComponent"></ng-container>
                    <!-- https://stackblitz.com/edit/angular-ng-component-outlet-example?file=src%2Fapp%2Fapp.component.ts -->
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- <mat-tab label="[+]"><button (click)="lotsOfTabs.push('name')"></button></mat-tab> -->
</mat-tab-group>

<!-- <router-outlet name="tab_2"></router-outlet> -->
