<mat-drawer-container class="example-container" autosize [hasBackdrop]="false">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span routerLink="/">{{ title }}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toggleFS($event)" [title]="!isFS ? 'Full Screen' : 'Normal'">
                <mat-icon *ngIf="!isFS">fullscreen</mat-icon>
                <mat-icon *ngIf="isFS">fullscreen_exit</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="settingsMenu">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #settingsMenu="matMenu">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>aaaaaaa</mat-toolbar-row> -->
    </mat-toolbar>

    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <div mat-subheader>Menu</div>
            <mat-list-item routerLink="/">
                <mat-icon class="mat-18">home</mat-icon>&nbsp;&nbsp;&nbsp;
                <div matListItemTitle>Home</div>
            </mat-list-item>
            <mat-list-item routerLink="/login">
                <mat-icon class="mat-18">perm_identity</mat-icon>&nbsp;&nbsp;&nbsp;
                <div matListItemTitle>Login</div>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of folders">
                <mat-icon matListItemIcon>description</mat-icon>&nbsp;&nbsp;&nbsp;
                <div matListItemTitle>{{ folder.name }}</div>
                <div matListItemLine>{{ folder.updated | date }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div mat-subheader>Notes</div>
            <mat-list-item *ngFor="let note of notes">
                <mat-icon matListItemIcon>note</mat-icon>&nbsp;&nbsp;&nbsp;
                <div matListItemTitle>{{ note.name }}</div>
                <div matListItemLine>{{ note.updated | date }}</div>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <!-- <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">Toggle sidenav</button>
    </div> -->

    <router-outlet></router-outlet>
    <button class="position-fixed fixed-bottom" style="right: 0;" mat-fab color="warn" aria-label="Example icon button with a home icon" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
    </button>
</mat-drawer-container>
