<mat-toolbar color="primary" [class.mat-elevation-z10]="true">
  <button mat-button mat-icon-button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>



<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav p-3" mode="over">
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
     </mat-list>
  </mat-drawer>
  <div class="example-sidenav-content">
    <div class="container-fluid xp-0">
      <div class="row">
        <div class="col-12">
          <mat-tab-group mat-align-tabs="center" class="bgx">
            <mat-tab label="Home">
              ksjksjdjasdfkj
            </mat-tab>
            <mat-tab label="About">
              sjdfjaspofpasj
            </mat-tab>
          </mat-tab-group>
          <router-outlet></router-outlet>

        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>

<mat-grid-list cols="1" rowHeight="2:0.0625">
  <mat-grid-tile class="footer py-3">Arijit Kundu</mat-grid-tile>
</mat-grid-list>