.footer{
    background: rgb(109, 109, 109);
}
.bg{
    background-color: #3c3c3c;
    border-radius: 10px;
}

.example-container {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    // display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }