.c-box {
    background-color: #585858;
    box-shadow: 0 2px 3px -1px #0003, 0 1px 4px #00000024, 0 3px 5px #0000001f;
    border-radius: 5px;
    color: #cacaca;
    // border: 1px solid #ccc;
    // margin: 10px auto 0 auto;
    // width: 98vw;
}
