/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


.mat-toolbar-multiple-rows,.mat-toolbar-row{
    height: 40px;
    min-height: 40px;
}
.mat-tab-label{
    height: 35px !important;
    // min-width: auto !important;
    min-width: 100px !important;
    padding: 0 !important;
}

.mat-tab-label .mat-tab-label-content{
    justify-content: left !important;
}
.mat-tab-label-active{
    background-color: #c2185b4f;
    // border-radius: 50% 50% 0 0 !important;
    box-shadow: 0 0.5rem 0.8rem #00000080 !important;
    border-radius: 3px 3px 0px 0px !important;
}
